<section class="authentication">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :class => 'alert alert-danger' %>
  <% end %>
  <%= form_for resource, as: resource_name, url: session_path(resource_name),class: 'clearfix',html: {class: 'clearfix'} do |f| %>
    <h2>Login Form</h2>
    <div class="field">
      <%= f.email_field :email, autofocus: true, class: 'authentication-username', placeholder: 'Email' %>
    </div>
    <div class="field">
      <%= f.password_field :password, autocomplete: "off", class: 'authentication-pass', placeholder: 'Password' %>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
  <div class="devise-links">
    <%= render "devise/shared/links" %>
  </div>
</section>