<header class="dashboard--header">
	<%= image_tag @image_src, class: 'img-circle img-thumbnail', alt: 'profile image' %>
	<h2><%= @user.name %></h2>
	<span><i class="fa fa-building"></i> <%= "#{Category.find_by_index(@user.specialization).name}".capitalize %>
		from <%= "#{Location.find(@user.location).city}, #{Location.find(@user.location).state}" %>
	</span>
</header>
<section class="spacer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<%= content_tag :div, notice, class: 'alert alert-success' %>
				<div class="media">
				  <div class="media-left">
				    <a href="#">
				      <%= image_tag @image_src, class: 'media-object', alt: 'Gravatar image' %>
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Profile Image</h4>
				    <p>Image is fetched from Gravatar. <%= link_to 'Create a gravatar account', "http://en.gravatar.com", target: '_blank', class: 'link-color' %> to upload your image</p>
				  </div>
				  <br>
				  <h4>Edit Profile</h4>
				  <%= form_for current_user, html: { class: 'dashboard-form'} do |f| %>
				  <%= f.label :name %>
				  <%= f.text_field :name %>
				  <%= f.label :phone %>
				  <%= f.telephone_field :phone %>
				  <%= f.label :nationality %>
				  <%= f.text_field :nationality %>
				  <%= f.label :gender %>
				  <%= f.select :gender, options_for_select([['Male', 'male'], ['Female', 'female']], current_user.gender) %>
				  <%= f.label :specialization %>
				  <%= f.select :specialization, options_for_select(@categories, current_user.specialization), class: 'select2' %>
				  <%= f.label :location %>
          <%= f.select :location, options_for_select(@locations, current_user.location), class: 'select2' %>
					<%= f.label :address %>
					<%= f.text_area :address %>
					<%= f.label :about, 'A summary about you' %>
					<%= f.text_area :about %>
          <%= f.submit "Update profile", class: 'btn btn-default' %>
				  <% end %>
				</div>
			</div>
			<div class="col-md-6">
				<h3>Social Networks</h3>
				<p>Select a social network and add a URL to it.</p>
				<%= form_tag do %>
				<div class="input_fields_wrap social-edit">
				  <button class="add_field_button btn btn-primary">Add More Fields</button>
				  <div class="social-field">
				  	<label for="title[]">Title: </label>
				  	<input type="text" name="title[]" placeholder="e.g Facebook">
				  	<label for="url[]">URL: </label>
				  	<input type="url" name="url[]" placeholder="e.g http://facebook.com/CraftAnts">
				  </div>
				</div>
				<%= submit_tag "Save", class: 'btn btn-default' %>
				<% end %>
				<h4 class="topmag20">Leaving us?</h4>
				<%= button_to "Deactivate account", current_user, data: { confirm: "Are you sure?" }, class: 'btn btn-danger', method: :delete %>
			</div>
		</div>
	</div>
</section>