<section class="spacer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-lg-3 col-sm-12">
				<!-- Profile Thumbnail -->
		    <div class="thumbnail pad20 txtcenter">
		    	<%= image_tag @image_src, :class => 'img-circle img-thumbnail profile-avatar', :alt => 'profile' %>
		      <div class="caption">
		        <h3><%= @user.name %></h3>
		        <p>Rating</p>
		        <p>
		        	<%= image_tag 'http://img.freeflagicons.com/thumb/round_icon/nigeria/nigeria_64.png', class: 'country-flag' %> 
		        	<%= "#{Location.find(@user.location).city}, #{Location.find(@user.location).state}" %>
		        </p>
		      </div>
		    </div>
		    <!-- / Profile Thumbnail -->
		  </div>
			<div class="col-md-9 col-lg-9 col-sm-12">
				<!-- Tab Panel -->
				<div role="tabpanel">
					<!-- Nav Tabs -->
					<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
					  <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<!-- Overview Tab -->
						<div role="tabpanel" class="tab-pane active" id="overview">
							<!-- About -->
							<nav class="navbar navbar-default mini-header">
							  <div class="container-fluid">
							    <div class="navbar-header">
							        <h3>About</h3>
							    </div>
							  </div>
							</nav>
							<article>
								<p><strong>Gender:</strong> <%= User.find(params[:id]).gender %></p>
								<p><strong>Nationality:</strong> <%= User.find(params[:id]).nationality %></p>
							</article>
							<!-- / About -->
							<!-- Profile Summary -->
							<nav class="navbar navbar-default mini-header">
							  <div class="container-fluid">
							    <div class="navbar-header">
							        <h3>Profile</h3>
							    </div>
							  </div>
							</nav>
							<article>
								<%= User.find(params[:id]).about.blank? ? 'No profile info' : User.find(params[:id]).about %>
							</article>
							<!-- / Profile Summary -->
							<!-- Specialization -->
							<nav class="navbar navbar-default mini-header">
							  <div class="container-fluid">
							    <div class="navbar-header">
							        <h3>Specialization</h3>
							    </div>
							  </div>
							</nav>
							<article>
								<%= Category.find_by_index(User.find(params[:id]).specialization).name.capitalize %>
							</article>
							<!-- / Specialization -->
							<!-- Contact details -->
							<nav class="navbar navbar-default mini-header">
							  <div class="container-fluid">
							    <div class="navbar-header">
							        <h3>Contact Details</h3>
							    </div>
							  </div>
							</nav>
							<article>
								<p><strong>Phone:</strong> <%= User.find(params[:id]).phone %></p>
								<p><strong>Email:</strong> <%= User.find(params[:id]).email %></p>
								<p><strong>Address:</strong> <%= User.find(params[:id]).address %></p>
							</article>
							<!-- / Contact details -->
							<!-- Social Networks -->
							<nav class="navbar navbar-default mini-header">
							  <div class="container-fluid">
							    <div class="navbar-header">
							        <h3>Social Networks</h3>
							    </div>
							  </div>
							</nav>
							<article>
								<% @socials.each do |site| %>
						<%= image_tag "http://grabicon.com/icon?domain=#{site.url.split('/')[0]+'//'+site.url.split('/')[2]}.&size=32" %>
								<%= link_to site.title, site.url, class: 'link-color', target: '_blank' %>
								<% end %>
							</article>
							<!-- / Social Networks -->
						</div>
						<!-- / Overview Tab -->
						<!-- Reviews Tab -->
    				<div role="tabpanel" class="tab-pane" id="reviews">
    					Reviews by users here
    				</div>
    				<!-- / Reviews Tab -->
    			</div>
				</div>
				<!-- / Tab panel -->
			</div>
		</div>
	</div>
</section>